.sidebar {
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 10%;
  height: 100%;
  background-color: #292B37;
}

@media (max-width: 640px) {
  .sidebar {
    background-color: orange;
  }
}

.side-icon1 {
  display: block;
  width: 20px;
}

.side-icon2:first-of-type {
  display: block;
  width: 20px;
  margin: 0 auto;
  margin-top: 31px;
  opacity: 0.4;
}

.side-icon2 {
  display: block;
  width: 20px;
  margin: 0 auto;
  margin-top: 40px;
  opacity: 0.4;
}

.profile-pic {
  width: 32px;
  height: 32px;
  bottom: 22px;
  margin-left: calc(50% - 16px);
  border-radius: 100%;
  position: absolute;
}

.icon-container {
  width: 20px;
  background-color: #323547;
  border-radius: 100%;
  padding: 12px;
  margin: 0 auto;
  margin-top: 20px;
}

.main-content {
  background-color: red;
  height: 100%;
  right: 0;
  width: 90%;
  position: absolute;
}
