h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #323547;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #323547;
}

.th-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #B5B6C7;
}

.sidebar {
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 8%;
  height: 100%;
  background-color: #292B37;
}

@media (max-width: 640px) {
  .sidebar {
    background-color: orange;
  }
}

.side-icon1 {
  display: block;
  width: 20px;
}

.side-icon2:first-of-type {
  display: block;
  width: 20px;
  margin: 0 auto;
  margin-top: 31px;
  opacity: 0.4;
}

.side-icon2 {
  display: block;
  width: 20px;
  margin: 0 auto;
  margin-top: 40px;
  opacity: 0.4;
}

.profile-pic {
  width: 32px;
  height: 32px;
  bottom: 22px;
  margin-left: calc(50% - 16px);
  border-radius: 100%;
  position: absolute;
}

.icon-container {
  width: 20px;
  background-color: #323547;
  border-radius: 100%;
  padding: 12px;
  margin: 0 auto;
  margin-top: 20px;
}

.main-content {
  background-color: white;
  height: 100%;
  right: 0;
  width: 92%;
  position: absolute;
}

.sound-icons {
  width: 100px;
  padding-left: 22px;
}

.header-icons {
  padding: 2px;
  padding-top: 0px
}

.header {
  height: 64px;
  background-color: white;
  border-bottom: 1px solid #EAEAF1;
  display: flex;
  align-items: center;
}

.header-logo {
  margin-left: auto;
  margin-right: auto;
}

.header-ellipse {
  text-align: right;
  width: 100px;
  padding-right: 22px;
}

.circle-spacing {
  padding-right: 10px;
}

.control-menu {
  display: flex;
  align-items: center;
  height: 60px;
}

.table-heading {
  display: flex;
  align-items: center;
  height: 44px;
}

.menu-title {
  width: 150px;
  padding-left: 22px;
  padding-top: 2px;
}

.main-menu {
  margin-left: auto;
  margin-right: auto;
}

.task-title {
  display: inline-block;
  padding-left: 10px;
}

.control-box {
  background-color: #F0F0F4;
  display: inline-block;
  padding: 8px 10px;
  border-radius: 44px;
}

.control-icon {
  padding: 0 5px;
}

.task-controls {
  display: flex;
  align-items: center;
}

.task-box {
  padding-left: 20px;
  display: inline-block;
}

.controls-spacing {
  padding-left: 20px;
}

.task-icon-box {
  background-color: #F0F0F4;
  display: inline-block;
  padding: 8px 10px;
  border-radius: 44px;
  margin-left: 10px;
}

.ie-icon-box {
  background-color: #F0F0F4;
  display: inline-block;
  padding: 8px 10px;
  border-radius: 44px;
}

.ie-box {
  text-align: right;
  width: 150px;
  padding-right: 22px;
}

.table-contents {
  padding: 10px;
  height: 100%;
  background-color: #EAEAF1;
}

.checkboxes {
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.th-checkbox {
  padding-left: 24px;
}

.arrow-spacing {
  padding-bottom: 4px;
  padding-left: 4px;
}

.th-id {
  padding-left: 20px;
  width: 40px;
}

.th-store {
  width: 100px;
}

.th-product {
  width: 170px;
}

.th-size {
  width: 60px;
}

.th-billing {
  width: 100px;
}

.th-status {
  width: 160px;
}

.table-entries:first-of-type {
  margin-top: 0px;
  display: flex;
  align-items: center;
  height: 60px;
  border-radius: 8px;
  background-color: #FFFFFF;
}

.table-entries {
  margin-top: 10px;
  display: flex;
  align-items: center;
  height: 60px;
  border-radius: 8px;
  background-color: #FFFFFF;
}

.entry-check {
  padding-left: 14px;
}

.entry-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.entry-id {
  position: absolute;
  left: 70px;
  width: 30px;
}

.entry-store {
  position: absolute;
  left: 115px;
  width: 90px;
}

.entry-product {
  position: absolute;
  left: 215px;
  width: 160px;
}

.entry-size {
  position: absolute;
  left: 388px;
  width: 30px;
}

.entry-billing {
  position: absolute;
  left: 446px;
  width: 90px;
}

.entry-status {
  position: absolute;
  left: 545px;
  width: 150px;
}

.submitting {
  color: #5575E5;
}

.success {
  color: #6CC888;
}

.entry-actions {
  left: 730px;
  position: absolute;
}

.icon-spacing {
  margin-top: 1px;
  margin-left: 1px;
}

.create-task {
  height: 10px;
  width: 10px;
  background-color: red;
}

.profile-popup {
  background-color: white;
  position: absolute;
  width: 166px;
  height: 185px;
  left: 67px;
  z-index: -1;
  bottom: 22px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px 8px 8px 2px;
}
